@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
:root{
    --primary-color:#030712;
    --color-white: rgb(219, 217, 217);
    --secondary-color:#A87A2A;
}
*{
    font-family: "DM Sans", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color:#030712;
}

.navigation{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 80px;
    width: fit-content;
    /* aspect-ratio: square; */
}

.nav_items{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_items a{
    color:rgb(219, 217, 217);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}
.consultant_button div svg{
    color: rgb(219, 217, 217) !important;
}

.consultant_button{
    display: flex;
    gap:20px;
    align-items: center;
}
.consultant_button .button{
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: #A87A2A;
    color: white;
    position:relative;
    overflow:clip;
    transition: all .3s ease-in-out;
}
.consultant_button .button .button_text {
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 1;
}
.consultant_button .button .hov_button{
    background-color: red;
    height:100%;
    width:0%;
    position: absolute;
    top: 0px;
    left: 0px;
    content:"";
    contain:"";
    transition: all .3s ease-in-out;
}
.consultant_button .button:hover{
    color: #A87A2A;
}
.consultant_button .button:hover .hov_button{
    width:100%;
}
.menu{
    display: none;
}
/*media query*/
@media(max-width:480px){

    .navigation{
        width: 90%;
        padding: 10px 0px;
        align-items: center;
    }

    .logo img{
        height: 45px;
        width: auto;
    }

    .nav_items{
       display: flex;
    gap: 15px;
}
    

    .consultant_button{
        display: none;
    }

    .menu{
        display: block;
        color: var(--color-white);
        cursor: pointer;
    }
}
